name: Build and Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: read

jobs:
  build:
    name: build & release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          targets: x86_64-unknown-linux-gnu

      - name: Build release binaries
        run: |
          cargo build --release --target x86_64-unknown-linux-gnu

      - name: build release binaries
        run: cargo build --release --target x86_64-unknown-linux-gnu

      - name: package binaries
        run: |
          mkdir -p dist
          tar -czvf dist/raven-news-${{ github.ref_name }}-x86_64-unknown-linux-gnu.tar.gz \
            -C target/x86_64-unknown-linux-gnu/release raven-news

      - name: Upload to Github releases
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}